# Maven
target/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# IDE files
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# Build tools
*.jar
*.war
*.ear

# JVM crash logs
hs_err_pid*

# Specific bash script
run_script.sh